<!DOCTYPE html>
<html>
<header>
    <h1>{{Name}}</h1>
    <h2>Deine “Devops” Rolle</h2>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <h3>ich bin 28 Jahre Alt</h3>
        <p>Ich bin Cloud Devops werden</p>
    </section>

    <section>
        <h3>Skills</h3>
        <p>Ich arbeite jeden Tag mit disen Tools</p>
        <ul>
           {%for skill in skills%}
            <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </section>
  
    <section>
        <h3>sadekmurad@outlook.de</h3>
        <p>Wenn du Fragen hast, gerne melden</p>
    </section>
</main>

<footer>
    <h3>Credits</h3>
    <p>Danke für den Besuch! <a href="https://www.techstarter-website-url.de" Techstarter Website</a></p>
</footer>
</body>
</html>
